Hotel/Hotel.BLL/Web References/DigiLock/HotelTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRommList">
        <s:complexType />
      </s:element>
      <s:element name="GetRommListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRommListResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRommListSoapIn">
    <wsdl:part name="parameters" element="tns:GetRommList" />
  </wsdl:message>
  <wsdl:message name="GetRommListSoapOut">
    <wsdl:part name="parameters" element="tns:GetRommListResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelTypeServiceSoap">
    <wsdl:operation name="GetRommList">
      <wsdl:input message="tns:GetRommListSoapIn" />
      <wsdl:output message="tns:GetRommListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelTypeServiceSoap" type="tns:HotelTypeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRommList">
      <soap:operation soapAction="http://tempuri.org/GetRommList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelTypeServiceSoap12" type="tns:HotelTypeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRommList">
      <soap12:operation soapAction="http://tempuri.org/GetRommList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelTypeService">
    <wsdl:port name="HotelTypeServiceSoap" binding="tns:HotelTypeServiceSoap">
      <soap:address location="http://localhost:1580/HotelTypeService.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelTypeServiceSoap12" binding="tns:HotelTypeServiceSoap12">
      <soap12:address location="http://localhost:1580/HotelTypeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>